<div>
  <nav>
    <a [routerLink]="['/']" routerLinkActive="router-link-active">Back home</a>
  </nav>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <mat-form-field>
      <mat-label>{{"auth.field.username" | translate}}</mat-label>
      <input matInput  id="username" class="formControl" type="text"[formControl]="usernameCtrl" >
      <mat-error *ngIf="usernameCtrl.errors?.['minlength']">{{'auth.error.username.minlength' |translate}}</mat-error>
      <mat-error *ngIf="usernameCtrl.errors?.['required']">{{'auth.error.required' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{"auth.field.email" | translate}}</mat-label>
      <input matInput id="email" class="formControl" type="email" [formControl]="emailCtrl" >
      <mat-error *ngIf="emailCtrl.errors?.['required']">{{'auth.error.required' | translate}}</mat-error>
      <mat-error *ngIf="emailCtrl.errors?.['emailFormatInvalid']">{{'auth.error.email.valid' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{"auth.field.pwd" | translate}}</mat-label>
      <input matInput id="password" class="formControl" type="password" [formControl]="passwordCtrl">
      <mat-error *ngIf="passwordCtrl.errors?.['required']">{{'auth.error.required' | translate}}</mat-error>
      <mat-error *ngIf="passwordCtrl.errors?.['minlength']">{{'auth.error.pwd.minlength' |translate}}</mat-error>
      <mat-error *ngIf="passwordCtrl.errors?.['passwordFormatInvalid']">
        {{'auth.error.pwd.valid' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{"auth.field.confirmPwd" | translate}}</mat-label>
      <input matInput id="confirmPassword" class="formControl" type="password" [formControl]="confirmPasswordCtrl">
      <mat-hint *ngIf="registerForm.errors?.['notSamePasswordError']" align="start">{{'auth.error.pwd.same' | translate}}</mat-hint>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">{{'auth.register' | translate}}</button>
    <!-- <input type="submit" value=""> -->
  </form>

</div>
